/* Main css */
body {
  color: darkslategrey;
  background-color: rgb(235, 239, 203);
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar {
  background-color: rgb(251, 145, 31);
  height: 150px;
  gap: 10px;
  color: black;
}

#nav-links
{
  padding-top: 40px;
  display: flex;
  justify-content: end;
}

#nav-links ul {

  list-style: none;
  text-decoration: n;
  color: black;
  display: flex;
  gap: 10px;
  padding: 10px;
}

main {
  padding: 30px;
}

.machine-image {
  border: 2px solid darkslategrey;
}

#footer
{
  background-color: rgb(251, 145, 31);
  height: 150px;
}
/* End main css */

/* Tools css */
#img-tools{
    height: 300px;
    width: 300px;
    border: 10px solid black;
    background-color: white;
}

.Tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    font-size: 10px;
}

#Titel{
    display: flex;
    font-size: 50px;
    justify-content: center;
}
/* End tools css */

/* Materials css */

.section-1
{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 40px;
}
.section-1 div
{
  background-color: rgb(251, 145, 31);
  margin: 10px;
  height: 400px;
  width: 400px;
  font-size: 24px;
}

.section-2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding-left: 180px;
    padding-right: 180px;
}
.section-2 table
{
    border: 2px solid rgb(251, 145, 31);
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section-2 table td,
.section-2 table th
{
    border: 1px solid rgb(251, 145, 31);
}
#h1-materials-1
{
    display: flex;
    justify-content: center;
}
/* End materials css */

/* Projects css */
/* End Projects css */

/* Machine-time css */
/* End machine time css */

/* work at css */
/* end work at css */

/* About me css */
/* end about me css */

