body {
  color: darkslategrey;
  background-color: rgb(235, 239, 203);
  margin: 0;
  padding: 0;
}

#navbar {
  padding-left: 30px;
  background-color: rgb(251, 145, 31);
  height: 150px;
  display: flex;
  align-items: center;
  gap: 1rem;
}


#nav-links ul {
  list-style: none;
  display: flex;
  gap: 7rem;
  margin: 0px;
  padding: 10px;
}

main {
  padding: 30px;
}

.machine-image {
  border: 2px solid darkslategrey;
}

.session-card {
  /* background-color: white;
  border: 4px double #fb911f; */
  border: 3px solid transparent;

  background:
    linear-gradient(white, rgb(98, 234, 93)) padding-box,
    linear-gradient(135deg, #fb911f, #7c3aed) border-box;
  border-radius: 12px;
  padding: 16px;
  margin-top: 16px;
  max-width: 300px;
  margin-bottom: 16px;
}

/* 
.session-card summary {
  cursor: pointer;
} */